* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-width: 100vw;
  min-height: 100svh;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, #f9fafb, #d2d6db);
  padding: 16px;
  /* horizontally center pageContent within, light gray gradient background with padding between body and pageContent */
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

ol,
ul {
  list-style: none;
}
