/* Mobile-first 375px and up */

.pageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  flex-grow: 1;
  background-image: linear-gradient(to bottom, #f9fafb, #edf0f3);
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0 rgb(0 0 0 / 0.05);
  /* page content container with background gradient, centered */
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 48px 12px;
  /* gap: 48px; achieve this with padding/margin */
  /* inner section container vertically centered with padding and gap between heroText and imageContainer */
}

.heroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  object-fit: cover;
  padding: 32px 0px;
  border-radius: 8px;
  /* gap between with heroText */
  /* margin-top: 48px; */
  margin-top: 16px;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* nested elements */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.title {
  font-family: "Noto Sans";
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #171717;
}

.description {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #525252;
}

.cta {
  display: flex;
  gap: 16px;
}

/* Tablets */

@media (min-width: 768px) {
  .pageContent {
    padding: 8px 0px;
    border-radius: 6px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.06),
      0px 4px 6px -1px rgb(0 0 0 / 0.1);
  }

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 64px 16px;
    /* gap: 32px; */
  }

  .heroText {
    gap: 64px;
  }

  .imageContainer {
    padding: 64px 0px;
    border-radius: 16px;
    /* gap between with heroText */
    /* margin-top: 32px; */
  }

  .intro {
    gap: 24px;
  }

  .title {
    font-size: 48px;
    line-height: 48px;
  }

  .description {
    font-size: 20px;
    line-height: 28px;
  }

  .cta {
    width: 458px;
    gap: 32px;
  }

  .button {
    gap: 10px;
    padding: 16px 24px;
  }
}

/* Desktops */

@media (min-width: 1440px) {
  .pageContent {
    padding: 8px 0px;
    border-radius: 6px;
    box-shadow: 0px 4px 6px -2px rgb(0 0 0 / 0.05),
      0px 10px 15px -3px rgb(0 0 0 / 0.1);
  }

  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    /* extra padding */
    padding: 96px;
  }

  .imageContainer {
    padding: 64px 0px;
    border-radius: 16px;
    /* modify inherited margin */
    margin-top: 0px;
  }

  .title {
    font-size: 3.75rem;
    line-height: 3.75rem;
  }

  .description {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .cta {
    width: 383px;
    gap: 32px;
  }
}

/* styling different states of the button  */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 12px 20px;
  border-radius: 4px;
  outline: 0;
  box-shadow: 0px 1px 2px 0 rgb(0 0 0 / 0.06), 0px 1px 3px 0 rgb(0 0 0 / 0.1);
}

.primary:not([disabled]) {
  background-color: #4338ca;
  color: #ffffff;
  border: none;
}

.primary:not([disabled]):hover {
  background-color: #3730a3;
  /* background-color: green; */
}

.primary:not([disabled]):focus {
  background-color: #3730a3;
  box-shadow: 0px 0px 0px 4px
    rgb(0.2666666805744171 0.2980392277240753 0.9058823585510254 / 0.12);
}

.primary[disabled] {
  background-color: #f5f5f5;
  color: #a3a3a3;
  outline: 0;
  border: 0;
  cursor: not-allowed;
}

/* secondary buttons  */

.secondary:not([disabled]) {
  background-color: #ffffff;
  color: #171717;
  border-width: 0.5px;
  border-style: solid;
  border-color: #e5e5e5;
}

.secondary:not([disabled]):hover {
  background-color: #fafafa;
}

.secondary:not([disabled]):focus {
  box-shadow: 0px 0px 0px 4px
    rgb(0.2666666805744171 0.2980392277240753 0.9058823585510254 / 0.12);
}

.secondary[disabled] {
  background-color: #f5f5f5;
  color: #a3a3a3;
  outline: 0;
  border: 0;
  cursor: not-allowed;
}

.button span {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
